<section class="reviews">
  <div class="container">
    <div class="reviews__inner">
      <h1 class="title">Отзывы</h1>
      <form class="create-review">
        <div class="create-review__inner">
          <select class="create-review__select" name="" id="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="" selected>5</option>
          </select>
          <textarea class="create-review__textarea"></textarea>
          <input class="button" type="submit" value="Отправить" />
        </div>
      </form>
      <ul class="reviews-list">
        <li class="reviews-list__item">
          <div class="reviews-list__item-info">
            <div class="reviews-list__item-main-data">
              <h5>Имя пользователя</h5>
              <p class="reviews-list__item-score">8.1</p>
            </div>
            <p class="reviews-list__item-date">10.17.2021</p>
          </div>
          <p class="reviews-list__item-text">
            Не первый раз посещаю, нравится здесь и кухня, и атмосфера, и живая музыка
          </p>
        </li>
        <li class="reviews-list__item">
          <div class="reviews-list__item-info">
            <div class="reviews-list__item-main-data">
              <h5>Имя пользователя</h5>
              <p class="reviews-list__item-score">8.1</p>
            </div>
            <p class="reviews-list__item-date">10.17.2021</p>
          </div>
          <p class="reviews-list__item-text">
            Не первый раз посещаю, нравится здесь и кухня, и атмосфера, и живая музыка
          </p>
        </li>
        <li class="reviews-list__item">
          <div class="reviews-list__item-info">
            <div class="reviews-list__item-main-data">
              <h5>Имя пользователя</h5>
              <p class="reviews-list__item-score">8.1</p>
            </div>
            <p class="reviews-list__item-date">10.17.2021</p>
          </div>
          <p class="reviews-list__item-text">
            Не первый раз посещаю, нравится здесь и кухня, и атмосфера, и живая музыка
          </p>
        </li>
        <li class="reviews-list__item">
          <div class="reviews-list__item-info">
            <div class="reviews-list__item-main-data">
              <h5>Имя пользователя</h5>
              <p class="reviews-list__item-score">8.1</p>
            </div>
            <p class="reviews-list__item-date">10.17.2021</p>
          </div>
          <p class="reviews-list__item-text">
            Не первый раз посещаю, нравится здесь и кухня, и атмосфера, и живая музыка
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
