<section class="booking">
    <div class="booking__inner container">
      <app-scheme-view [scheme]="scheme" (tableChosen)="onTableChosen($event)"></app-scheme-view>

      <form class="booking-form" [formGroup]="reservationForm" (submit)="onSubmit()">
        <div class="booking-form__inner">
          <div class="booking-form__item">
            <label for="start-date">Дата начала</label>
            <input formControlName="start" class="booking-form__input" [value]="start" type="datetime-local"
                   id="start-date"/>
          </div>
          <div class="booking-form__item">
            <label for="end-date">Дата окончания</label>
            <input formControlName="end" class="booking-form__input" [value]="start" type="datetime-local"
                   id="end-date"/>
          </div>
          <div class="booking-form__item">
            <label for="capacity">Количество гостей</label>
            <select formControlName="capacity" id="capacity">
              <option [selected]="cap == capacities.length" *ngFor="let cap of capacities;let j = index" [ngValue]="cap">{{cap}}</option>
            </select>
          </div>
          <input class="button" type="submit" value="Забронировать"/>
        </div>
      </form>
    </div>

</section>
