.about {
  background-image: url("../img/start/aboutBG.png");
  background-size: cover;
  // background-repeat: no-repeat;

  &__inner {
    text-align: center;
    .title {
      padding-bottom: 100px;
    }
    p {
      padding-bottom: 210px;
    }
  }
  padding-top: 260px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .about {
    &__inner {
      p {
        padding-bottom: 140px;
      }
    }
    padding-top: 260px;
  }
}
