.achievements {
  background: rgba(111, 100, 129, 0.7);
  * {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    line-height: 40px;
    font-weight: 800;
  }

  text-align: center;
  &__inner {
    display: flex;
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 270px;
    width: 33.33333%;
  }

  &__side-text {
    width: 180px;
  }
  &__midl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 270px;
    width: 33.33333%;
    background: #40286a;
  }
}
