.achievements {
  background: rgba(111, 100, 129, 0.7);
  * {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    line-height: 40px;
    font-weight: 800;
  }

  text-align: center;
  &__inner {
    display: flex;
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 270px;
    width: 33.33333%;
  }

  &__side-text {
    width: 12vw;
  }
  &__midl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 270px;
    width: 33.33333%;
    background: #40286a;
  }
}

@media (max-width: 767px) {
  .achievements {
    &__side {
      height: 100px;
    }

    &__side-text {
      font-size: 1.8vw;
      line-height: 2.4vw;
      width: 12vw;
    }
    &__midl {
      font-size: 1.8vw;
      line-height: 2.4vw;
      height: 100px;
    }
  }
}
