.book-history {
  .title {
    text-align: center;
  }
  &__innner {
    padding-top: 16px;
  }
  &__list {
  }
  &__item {
    height: 80px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    margin-top: 16px;
    .button {
      height: 3vw;
    }
  }
  &__main-info {
    display: grid;
    grid-gap: 10px;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }
  &__date {
    display: flex;
    justify-content: space-around;
  }
  &__capacity {
    display: flex;
    justify-content: space-around;
  }
}
.booking-active {
  background: #aca848;
}
.booking-cancelled {
  background: #cf3333;
}
.booking-completed {
  background: #33cf5f;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .book-history {
    &__innner {
      .title {
        font-size: 6vw;
      }
    }
    &__main-info {
      h5 {
        font-size: 3vw;
      }
    }
    &__capacity {
      p {
        font-size: 2.4vw;
      }
    }
    &__date {
      p {
        font-size: 2vw;
      }
    }
  }
}
