.contact-info {
  width: 30%;
  text-align: center;

  &__inner {
    position: relative;
    padding: 12px;
    padding-top: 24px;
    height: 100%;
  }
  &__row {
    p {
      padding-right: 8px;
    }
    display: flex;
    padding: 4px 0;
  }
  &__text {
    padding-top: 104px;
  }
  .button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .contact-info {
    &__inner {
      padding-left: 0px;
      padding-right: 0px;
    }
    &__row {
      p {
        font-size: 1.6vw;
      }
    }
  }
}
