.footer {
  height: 80px;
  flex: 0 0 auto;
  background-color: #213e5a;

  font-size: 20px;
  line-height: 26px;
  text-align: center;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
  }
  &__main-content {
    align-items: center;
    display: inline-flex;
    p {
      padding-left: 10px;
    }
  }
}
