.login {
  background: rgba(0, 0, 0, 0.6);
  padding: 72px 0;
  height: 362px;
}
.login-form {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  &__item {
    padding-top: 32px;
    line-height: 30px;
  }
  .button {
    width: 56%;
    margin: 0 auto;
    margin-top: 24px;
  }
  a {
    padding-top: 7px;
    display: block;
    text-align: center;
    color: white;
  }
}

@media (max-width: 767px) {
  .login {
    padding: 70px 0;
    height: 402px;
  }
  .login-form {
    width: 70%;

    &__item {
      line-height: 30px;
    }
    .button {
      width: 86%;
    }
    a {
    }
  }
}
