.personal-info {
  text-align: center;
  width: 70%;

  &__inner {
    padding-top: 24px;
  }

  &__content {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
  }

  &__content-text {
    padding-top: 30px;
    * {
      padding: 4px 0;
    }
    text-align: left;
  }
  &__birthday {
    display: flex;
    p {
      padding-right: 16px;
    }
  }
}
.personal-avatar {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
}

.personal-wrapper {
  background: linear-gradient(90deg, #524178 65.7%, #3a3961 40%);
  min-height: 524px;
  &__inner {
    margin-top: 80px;
    display: flex;
    height: 100%;
  }
  .container {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .personal-wrapper {
    height: 380px;
  }
}

@media (max-width: 767px) {
  .personal-avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
  .personal-wrapper {
    background: linear-gradient(180deg, #524178 53.7%, #3a3961 40%);

    &__inner {
      display: block;
    }
  }
  .personal-info {
    &__inner {
      padding-bottom: 16px;
    }
    width: 100%;
  }
}
