.restaurant-info {
  height: 200px;
  background: rgba(27, 24, 196, 0.4);
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
}
.main-info {
  height: 200px;
  display: flex;
  align-items: center;
  .restaurant-avatar {
    width: 180px;
    height: 180px;
    border-radius: 100%;
  }
}

.main-info-text {
  &__inner {
    margin-left: 5vw;
  }
}

.sub-info {
  &__inner {
    padding-top: 12px;
    p {
      padding: 6px 0;
    }
  }
}
.booking-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space;
  &__inner {
    p {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 767px) {
  .restaurant-info {
    height: 140px;
  }
  .main-info-text {
    &__inner {
      h2 {
        font-size: 3vw;
      }
    }
  }
  .sub-info {
    &__inner {
      p {
        font-size: 2.2vw;
      }
    }
  }
  .booking-block {
    &__inner {
      p {
        font-size: 1.8vw;
      }
    }
  }
  .main-info {
    height: 140px;
    .restaurant-avatar {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }
}
