.scheme {
  max-width: 80%;
  height: 300px;
  background: #c4c4c4;
  &__inner {
  }
  &__table {
  }
}
.add-scheme-form {
  padding: auto;
  text-align: center;
  &__inner {
    padding: 24px 0;
    width: 20%;
    .input {
      margin: 16px 0;
    }
  }
}

@media (max-width: 767px) {
  label,
  select {
    font-size: 3vw;
    line-height: 3.2vw;
  }
  .add-scheme-form {
    &__inner {
      .input {
        font-size: 2vw;
      }
      width: 35%;
      .button {
        margin: 0px auto;
      }
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}
