.users {
  .title {
    margin-top: 20px;
    text-align: center;
  }
  &__inner {
  }
  .button {
    width: 24%;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .users {
    &__inner {
      .list {
        &__item {
          display: block;
        }
      }
    }
    .button {
      width: 100%;
    }
  }
}
