<div class="personal-wrapper">
  <div class="personal-container">
    <div class="personal-wrapper__inner">
      <section class="personal-info">
        <div class="personal-info__inner">
          <h2 class="sub-title">Личная информация</h2>
          <div class="personal-info__content">
<!--            <img class="personal-avatar" src="img/personal/ava.jpg" alt="ava" />-->
            <app-personal-ava [avatarUrl]="userinfo.avatar || ''"></app-personal-ava>
            <div class="personal-info__content-text">
              <h5>{{userinfo.name || 'Имя'}}</h5>
              <span>{{getRole()}}</span>
              <div class="personal-info__birthday">
                <span>Дата рождения:</span>
                <span>{{userinfo.birthday || '[.........]'}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-info">
        <div class="contact-info__inner">
          <h2 class="sub-title">Контактные данные</h2>
          <div class="contact-info__text">
            <div class="contact-info__row">
              <span>Email:</span>
              <span>{{userinfo.email}}</span>
            </div>
            <div class="contact-info__row">
              <span>Телефон:</span>
              <span>{{userinfo.phone}}</span>
            </div>
          </div>
          <div class="button-group">
            <a class="button" routerLink="/profile/edit">Редактировать</a>
            <a class="button" (click)="onLogout()">Выход</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-user-reservations></app-user-reservations>

