.sub-title {
  width: 100%;
}
.button{
  margin: 5px 0;
}
.personal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;

    //margin-top: 72px;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  &__content {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__content-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    * {
      margin: 4px 0;
    }
  }

  &__birthday {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      margin-right: 16px;
    }
  }
}

.personal-wrapper {
  background: linear-gradient(90deg, #524178 65.7%, #3a3961 40%);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
  //@at-root: 524px;


  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    //height: 100%;
    width: 70%;
    margin: 50px 0;
  }

  .container {
    height: 100%;
  }
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  //width: 30%;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin: 20px 0;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      margin-right: 8px;
    }

    margin: 8px 0;
  }

}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

@media (max-width: 1500px) {
  .personal-wrapper__inner, .personal-info__content {
    flex-direction: column;
  }
  .personal-info__content-text {
    margin: 20px 0;
  }
  .personal-wrapper {
    background: none;
  }
  .personal-info, .contact-info {
    width: 100%;
    margin: 20px 0;
  }

  .personal-info__birthday, .contact-info__row {
    //flex-direction: column;
  }
}

