<!--<ul>-->
<!--  <li *ngFor="let comment of comments">-->
<!--    <p>text: {{comment.text}}</p>-->
<!--    <p>date: {{comment.date}}</p>-->
<!--    <p>user name: {{comment.user.name}}</p>-->
<!--    <br/>-->
<!--  </li>-->
<!--</ul>-->

<!--<form (ngSubmit)="onSubmit()">-->
<!--  <div>-->
<!--    <label for="comment-text">text: </label>-->
<!--    <input type="text" [(ngModel)]="commentText"  id="comment-text" name="comment{{_postId}}" />-->
<!--  </div>-->
<!--  <button type="submit">Submit</button>-->
<!--</form>-->
