/* You can add global styles to this file, and also import other style files */


// reset

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}


html,
body {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  background-color: #4d4a8b;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  color: white;
}

.container {
  // width: 88vw;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.input {
  border-radius: 50px;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
}

// typography

.title {
  font-family: "Pattaya", sans-serif;
  color: white;
  font-size: 34px;
  line-height: 40px;
}

p {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
}

.sub-title {
  font-size: 28px;
  line-height: 32px;
  width: 600px;
  font-family: "Ubuntu", sans-serif;
}

h5 {
  color: white;
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
  line-height: 22px;
}

select,
label {
  font-size: 18px;
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

// buttons

.button {
  display: block;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  border: none;
  padding: 8px 16px;
  align-items: center;
  text-align: center;
  background: #db1a26;
  border-radius: 15px;
  transition-duration: 0.4s;
  &:hover {
    background-color: #ff000f;
  }

  &:active {
    background-color: #bb0510;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}


