<div class="container">

  <form class="create-review" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <div class="create-review__inner">
      <select formControlName="rate" class="create-review__select" name="rate">
        <option *ngFor="let rate of rates" [selected]="isSelected(rate)">{{rate}}</option>
      </select>
      <textarea formControlName="review" class="create-review__textarea"></textarea>
      <input class="button" type="submit" value="Сохранить"/>
    </div>
  </form>
</div>
