<div class="wrapper">
  <form [formGroup]="userinfoForm" (submit)="onSubmit()" class="edit-form">
    <div class="container">
      <h1 class="title">Редактирование</h1>
    </div>
    <div class="edit-form__personal-info">
        <div class="edit-form__inner">
          <h2 class="sub-title">Личная информация</h2>

          <div class="edit-form__item">
            <label for="name">Имя</label>
            <input formControlName="name" class="edit-form__input" type="text" name="" id="name" />
          </div>
          <div class="edit-form__item">
            <label for="birhday">Дата рождения</label>
            <input formControlName="birthday" class="edit-form__input" type="date" name="" id="birhday" />
          </div>
          <div class="edit-form__item">
            <label for="avatar" >Аватар</label>
            <input formControlName="avatar" class="edit-form__input" type="text" name="" id="avatar" />
          </div>

        </div>
    </div>
    <div class="edit-form__contact-info">
        <div class="edit-form__inner">
          <h2 class="sub-title">Контактная информация</h2>
          <div class="edit-form__item">
            <label for="email" >Email</label>
            <input formControlName="email" class="edit-form__input" type="email" name="" id="email" />
          </div>
          <div class="edit-form__item">
            <label for="phone" >Телефон</label>
            <input formControlName="phone" class="edit-form__input" type="tel" name="" id="phone" />
          </div>
        </div>
    </div>
      <input class="button" type="submit" name="" id="" value="Сохранить" />
  </form>
</div>
