<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="comment-text">text: </label>
    <input type="text" formControlName="text" id="comment-text" />
    <div class="error" *ngIf="text && text.invalid && text.touched">
      Неверные данные
    </div>
  </div>
  <button [disabled]="commentForm.invalid" type="submit">Submit</button>
</form>
<a routerLink="/posts">posts</a>

<ul>
  <li *ngFor="let comment of comments">
    <p>post_id: {{comment.post.id}}</p>
    <p>text: {{comment.text}}</p>
    <p>date: {{comment.date}}</p>
    <p>user name: {{comment.user.name}}</p>
    <br/>
  </li>
</ul>


