
<main class="main">
  <section class="login">
    <div class="container">
      <form class="login-form" action="">
        <div class="login-form__item">
          <label for="login">Логин</label>
          <input class="input" type="text" name="" id="login"/>
        </div>
        <div class="login-form__item">
          <label for="password">Пароль</label>
          <input class="input" type="password" name="" id="password"/>
        </div>
        <input class="button" type="submit" name="" id="" value="Войти"/>
        <a routerLink="/signup">Зарегистрироваться</a>
      </form>
    </div>
  </section>
</main>

