<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<section class="restaurants">
  <div class="container">
    <div class="restaurants__inner">
      <ul class="restaurants-list">

        <li *ngFor="let restaurant of restaurants | paginate: pagination" class="restaurants-list__item">

          <a routerLink="'/restaurants/{{restaurant.id}}">
            <img class="restaurant-avatar" [src]="getImage(restaurant)" (error)="restaurant.avatar =defaultImage"
                 alt="ava"/>
          </a>
          <h5>{{restaurant.name}}</h5>
          <div>
            <span style=" text-align: center; vertical-align: middle">
            {{restaurant.rating}}
            </span>
            <img style="width: 25px; display: inline-block; vertical-align: middle" src="assets/icons/star.png"
                 alt="stars">
          </div>
        </li>

      </ul>
    </div>
  </div>
</section>
<div class="pagination">
  <pagination-controls class="pagination__inner" (pageChange)="pageChange($event)"></pagination-controls>
</div>
