<section class="search-line">
  <div class="container">
    <form class="search-form" method="get">
      <input
        class="search-form__input"
        type="text"
        placeholder="Введите название ресторана"
      />
      <input class="search-form__button" type="image" src="assets/icons/findIcon.svg"/>
    </form>
  </div>
</section>
<section class="restaurants">
  <div class="container">
    <div class="restaurants__inner">
      <ul class="restaurants-list">

        <li *ngFor="let restaurant of restaurants | paginate: pagination" class="restaurants-list__item">

          <a routerLink="'/restaurants/{{restaurant.id}}">
            <img class="restaurant-avatar" [src]="getImage(restaurant)" alt="ava"/>
          </a>
          <h5>{{restaurant.name}}</h5>
          <p>5.3</p>
        </li>

      </ul>
    </div>
  </div>
</section>
<!--<div class="container">-->
  <div class="pagination">

    <pagination-controls class="pagination__inner" (pageChange)="pageChange($event)"></pagination-controls>
  </div>
<!--</div>-->
