<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<section class="restaurants">
  <div class="container">
    <div class="restaurants__inner">
      <ul class="restaurants-list">

        <li *ngFor="let restaurant of restaurants | paginate: pagination" class="restaurants-list__item">

          <a routerLink="{{restaurant.id}}">
            <app-restaurant-ava [avatarUrl]="restaurant.avatar"></app-restaurant-ava>

          </a>
          <h5>{{restaurant.name}}</h5>
          <app-restaurant-rating [restaurantId]="restaurant.id"></app-restaurant-rating>
        </li>

      </ul>
    </div>
  </div>
</section>
<div class="pagination">
  <pagination-controls class="pagination__inner" (pageChange)="pageChange($event)"></pagination-controls>
</div>
