<form class="add-restaurant-form">
  <div class="add-restaurant-form__main-info">
    <div class="container">
      <div class="add-restaurant-form__inner">
        <h2 class="sub-title">Основная информация</h2>
        <div class="add-restaurant-form__item">
          <label for="name">Название</label>
          <input class="input" type="text" id="name"/>
        </div>
        <div class="add-restaurant-form__item">
          <label for="adres">Адрес</label>
          <input class="input" type="text" id="adres"/>
        </div>
        <div class="add-restaurant-form__item">
          <label for="avatar">Фото</label>
          <input class="input" type="file" id="avatar"/>
        </div>
      </div>
    </div>
  </div>
  <app-scheme-add></app-scheme-add>
  <div class="container">
    <div class="add-restaurant-form__inner">
      <input class="button" type="submit" value="Сохранить"/>
    </div>
  </div>
</form>
