.add-restaurant-form {
  text-align: center;
  &__inner {
   padding: 15px 0;
    .button {
      margin: auto;
      width: 60%;
      display: block;
    }
  }
  &__main-info {
    background: rgba(196, 196, 196, 0.2);
  }
  &__item {
    width: 40%;
    input{
      width: 70%;
    }
    display: flex;
    justify-content: space-between;
    margin: 16px auto;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .add-restaurant-form {
    &__item {
      width: 55%;
    }
    &__size-items {
      width: 80%;
    }
  }
}

@media (max-width: 767px) {
  .add-restaurant-form {
    &__item {
      width: 70%;
    }
    &__size-items {
      width: 80%;
      display: block;
    }
    &__scheme-add {
      .scheme {
        width: 100%;
      }
      display: block;
    }
  }
}
