<section class="achievements">
  <div class="container">
    <div class="achievements__inner">
      <div class="achievements__side">
        <p>15 028</p>
        <p class="achievements__side-text">Регистраций пользовотелей</p>
      </div>
      <div class="achievements__midl">
        <p>650</p>
        <p>Ресторанов</p>
      </div>
      <div class="achievements__side">
        <p>5 000</p>
        <p class="achievements__side-text">Бронирований каждый день</p>
      </div>
    </div>
  </div>
</section>
