.button {
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  border: none;
  padding: 8px 16px;
  align-items: center;
  text-align: center;
  background: #db1a26;
  border-radius: 50px;
  transition-duration: 0.4s;
  &:hover {
    background-color: #ff000f;
  }

  &:active {
    background-color: #bb0510;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}
