html,
body {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  background-color: #4d4a8b;
  height: 100%;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.container {
  // width: 88vw;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.input {
  border-radius: 50px;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
}
